body {
    font-family: sans-serif;
    background: url("/sun.png") 50% 50% /cover;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    width: 300px;
    text-align: center;
}

h1 {
    color: #fff;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    background: #ffffffaa;
    border: unset;
    border-radius: 10px;
}

.off{
    opacity: 0;
}

#suggestionList {
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: relative;
    z-index: 10;
}

#suggestionList li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

#suggestionList li:hover {
    background-color: #e6f7ff;
}

.card-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .weather-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .weather-card .info {
    display: flex;
    flex-direction: column;
  }
  
  .weather-card img {
    width: 50px;
    height: 50px;
  }
  

  .weather-card {
    position: relative;
  }
  
  .delete-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: crimson;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    cursor: pointer;
  }

  
  #unitToggle {
    margin: 10px;
    padding: 8px 16px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
  }

    
  #restoreBtn {
    margin: 10px;
    padding: 8px 16px;
    background-color: #22ba00;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
  }
  